<div class="container">
    <div class="row">
        <div class="col-2" *ngFor="let photo of photos">
            <div class="card">
                <div class="card-header text-center">
                    {{photo.username}}
                </div>
                <div class="card-body">
                    <img src="{{photo.url}}" alt="{{photo.username}}">
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <button class="btn btn-success" (click)="approvePhoto(photo.id)">Approve</button>
                        <button class="btn btn-danger" (click)="rejectPhoto(photo.id)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
